{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>
            <span class="home-title-main">{{ .Title | markdownify }}</span>
            {{- with .TitleMuted }}
            <span class="home-title-muted">{{ . | markdownify }}</span>
            {{- end }}
        </h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
